body{
    background-color: rgb(61, 57, 57);
    display: flex;
}
.container-ttt{
    display: grid;
    width: 500px;
    height: 500px;
    /* background-color: #121f3d; */
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    border-radius: 20px;
}

.sectores{
    background-color: #121f3d;
    border: 2px solid white;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    font-size: 60px;
}

.mensaje-final{
    position: absolute;
    align-self: center;
    right: 100px;
    margin: auto;
    display: flex;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.ganador{
    background-color: green;
}

.perdedor{
    background-color: red;
}

.invisible{
    display: none;
}